<div>
  <agm-map class="agm-map" [latitude]="latitude" [longitude]="longitude" [fullscreenControl]="true" [zoom]="zoom" (zoomChange)="setZoom($event)">
    <agm-circle [latitude]="currentLatitude" [longitude]="currentLongitude" [radius]="currentLocationRadius() * 0.55 * 0.3" [fillColor]="'#4285F4'"></agm-circle>
    <agm-circle [latitude]="currentLatitude" [longitude]="currentLongitude" [radius]="currentLocationRadius() * 0.3 * 0.3" [fillOpacity]="1"
      [fillColor]="'white'"></agm-circle>
    <agm-circle [latitude]="currentLatitude" [longitude]="currentLongitude" [radius]="currentLocationRadius() * 0.25 * 0.3" [fillOpacity]="1"
      [fillColor]="'#4285F4'"></agm-circle>
    <agm-marker *ngFor="let location of locations" [iconUrl]="'./assets/img/flag.png'" [latitude]="location.latitude" [longitude]="location.longitude"
      [title]="location.city"></agm-marker>
  </agm-map>
  <button class="btn btn-primary addLocationButton" (click)="addLocation()">
    <i class="fa fa-plus"></i>
    <span>Add New Location</span>
  </button>
  <button class="btn btn-primary btn-sm map-current-location-btn" (click)="loadCurrentLocation()">
    <i class="fa fa-location-arrow"></i>
  </button>
</div>
<div class="locationContainer">
  <div *ngIf="locations.length === 0" class="noLocationsText">
    No Locations Added
  </div>
  <app-location *ngFor="let location of locations" [location]="location" (updateLocationEmitter)="updateLocation($event)"></app-location>
</div>

<app-shared-loadingindicator *ngIf="loading"></app-shared-loadingindicator>