.agm-map {
    height: 250px;
    width: 100%;
}

.map-current-location-btn {
    position: fixed;
    top: 37%;
    left: 5%;
}

.locationContainer {
    overflow-y: scroll;
    height: 50vh;
}

.addLocationButton {
    width: 100%;
}