<agm-map class="agm-map" [latitude]="latitude" [longitude]="longitude" [fullscreenControl]="true" [zoom]="1" (zoomChange)="setZoom($event)">
  <agm-circle [latitude]="currentLatitude" [longitude]="currentLongitude" [radius]="currentLocationRadius() * 0.55 * 0.3" [fillColor]="'#4285F4'"></agm-circle>
  <agm-circle [latitude]="currentLatitude" [longitude]="currentLongitude" [radius]="currentLocationRadius() * 0.3 * 0.3" [fillOpacity]="1"
    [fillColor]="'white'"></agm-circle>
  <agm-circle [latitude]="currentLatitude" [longitude]="currentLongitude" [radius]="currentLocationRadius() * 0.25 * 0.3" [fillOpacity]="1"
    [fillColor]="'#4285F4'"></agm-circle>
    <agm-marker [iconUrl]="'./assets/img/flag.png'" [latitude]="53" [longitude]="-3"></agm-marker>
</agm-map>
<button class="btn btn-info btn-sm map-current-location-btn" (click)="loadCurrentLocation()">
  <i class="fa fa-location-arrow"></i>
</button>
<br/>
<app-shared-loadingindicator *ngIf="loading"></app-shared-loadingindicator>