.agm-map {
    height: 250px;
    width: 100%;
}

.map-current-location-btn {
    position: fixed;
    top: 30vh;
    left: 5px;
}

.locationContainer {
    overflow-y: scroll;
    height: 50vh;
}

.addLocationButton {
    width: 100%;
}

.noLocationsText {
    margin-top: 30%;
    color: grey;
    text-align: center;
}