<div class="locationContainer">
  <div *ngIf="locations.length === 0" class="noLocationsText">
    No Locations Added
  </div>
  <ion-list>
    <app-location *ngFor="let location of locations" [location]="location" (updateLocationEmitter)="updateLocation($event)"></app-location>
  </ion-list>
  <ion-footer>
    <ion-button detail-none color="primary" class="addLocationButton" (click)="addLocation()">
      <ion-icon name="add"></ion-icon>
      <span>Add New Location</span>
    </ion-button>
  </ion-footer>
</div>