<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-label stacked>Where have you been?</ion-label>
      <ion-input autofocus id="autocomplete" placeholder="Type to search..." type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>When did you go?</ion-label>
    </ion-item>
    <ion-item>
      <ion-label floating>From:</ion-label>
      <ion-datetime name="startDate" displayFormat="DD/MM/YYYY" [(ngModel)]="startDate" (ngModelChange)="updateDates(true)"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label floating>To:</ion-label>
      <ion-datetime name="endDate" displayFormat="DD/MM/YYYY" [(ngModel)]="endDate" (ngModelChange)="updateDates(false)"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="addMore">
      <div class="form-group alert alert-info">
        <strong>Great!</strong> Keep adding places you've been!
      </div>
    </ion-item>
  </form>
</ion-content>
<ion-footer>
  <button ion-item detail-none color="danger" (click)="closeModal()">
    <span>Cancel</span>
  </button>
  <button ion-item detail-none color="primary" (click)="addLocation()">
    <span>{{submitLabel}}</span>
  </button>
</ion-footer>