<div>
  <agm-map class="agm-map" [latitude]="latitude" [longitude]="longitude" [styles]="styles" [zoom]="zoom" [usePanning]="true" (zoomChange)="updateZoom($event)" (centerChange)="updateMapCoordinates($event)">
    <agm-marker *ngIf="currentLocationObtained" [iconUrl]="'./assets/img/currentLocationIcon.png'" [latitude]="currentLatitude" [longitude]="currentLongitude"></agm-marker>
    <agm-marker *ngFor="let location of locations" [iconUrl]="'./assets/img/flagIcon.png'" [latitude]="location.latitude" [longitude]="location.longitude"
      [title]="location.city"></agm-marker>
  </agm-map>
  <ion-footer>
    <button ion-item detail-none color="primary" class="addLocationButton" (click)="addLocation()">
      <ion-icon name="add"></ion-icon>
      <span>Add New Location</span>
    </button>
  </ion-footer>
  <button class="btn btn-primary btn-sm map-current-location-btn" (click)="goToCurrentLocation()">
      <ion-icon name="navigate"></ion-icon>
  </button>
</div>