
.mapContainer {
    height: 100%;
}

.geoChart {
    height: 100%;
    width: 100%;
}

.map-current-location-btn {
    position: fixed;
    top: 80%;
    left: 1%;
}

.addLocationButton {
    width: 100%;
}
