<ion-navbar>
  <ion-buttons>
    <button ion-button (click)="navigateTo(components.map)">
      <ion-icon name="globe" class="navbarIcon"></ion-icon>
    </button>
    <button ion-button (click)="navigateTo(components.list)">
      <ion-icon name="list" class="navbarIcon"></ion-icon>
    </button>
    <button ion-button (click)="navigateTo(components.stats)">
      <ion-icon name="stats" class="navbarIcon"></ion-icon>
    </button>
    <button ion-button (click)="navigateTo(components.timeline)">
      <ion-icon name="time" class="navbarIcon"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>