<ion-toolbar>
  <ion-buttons>
    <ion-button (click)="navigateTo('map')">
      <ion-icon name="globe" class="navbarIcon"></ion-icon>
    </ion-button>
    <ion-button (click)="navigateTo('list')">
      <ion-icon name="list" class="navbarIcon"></ion-icon>
    </ion-button>
    <ion-button (click)="navigateTo('stats')">
      <ion-icon name="stats" class="navbarIcon"></ion-icon>
    </ion-button>
    <ion-button (click)="navigateTo('timeline')">
      <ion-icon name="time" class="navbarIcon"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
